<!DOCTYPE html>
<html>

<head>
    <link href="./lib/quasar.css" rel="stylesheet" type="text/css">
    <link href="./asset/style.css" rel="stylesheet" type="text/css">
    <link href="./app.css" rel="stylesheet" type="text/css"> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>

<body>
   <div id="app">
        <q-layout view="hHh LpR ffr">
            <q-header elevated>
                <q-toolbar >
                    <q-btn flat dense round @click="left = !left" 
                        aria-label="Menu" icon="icon-menu"></q-btn>
                    <q-toolbar-title>{{$route.meta.title}}</q-toolbar-title>
                    <q-btn v-if="authenticate" flat round @click="logout()">logout</q-btn>
                    <q-btn v-if="!$route.meta.hideNew" dense flat round 
                        icon="icon-plus" :to="{name:'zone',params:{id:-1}}"></q-btn>
                </q-toolbar>
            </q-header>
            
            <q-drawer v-model="left" show-if-above bordered 
                class="bg-grey-2" overlay behavior="mobile" >
                <q-list>
                    <q-item-label header>Navegacion</q-item-label>
                    <q-item v-if="item.show" v-for="(item,index) in menu" :key="index" :to="item.path" exact>
                        <q-item-section avatar>
                            <q-icon :name="item.icon"></q-icon>
                        </q-item-section>
                        <q-item-section>
                            <q-item-label>{{ item.title }}</q-item-label>
                        </q-item-section>
                    </q-item>
                </q-list>
            </q-drawer>
            <q-page-container>
                <transition :name="transitionName">
                    <router-view class="child-view"></router-view>
                </transition>
            </q-page-container> 

            <q-dialog v-model="showMessage" persistent>
                <q-card style="min-width: 300px;">
                    <q-card-section class="bg-primary text-h6 text-center text-white shadow-3 q-pa-md">
                        Alert
                    </q-card-section>
                    <q-card-section class="row items-center">
                        {{message}}
                    </q-card-section>
                    <q-card-actions align="right">
                        <q-btn flat label="ok" color="primary" v-close-popup></q-btn>
                    </q-card-actions>
                </q-card>
            </q-dialog>
            <q-dialog v-model="showLoading" persistent>
                <q-card>
                    <q-card-section class="row items-center">
                        <q-spinner color="primary" size="3em" :thickness="10"></q-spinner>   
                    </q-card-section>
                </q-card>
            </q-dialog>
        </q-layout>
    </div>

    <script>
        window.quasarConfig = {
            // this will NOT work on IE 11
            brand: {
                primary: '#008577',
                secondary: '#00574b',
                accent: '#ffbb33',

                dark: '#3c2d21',

                positive: '#21ba45',
                negative: '#C10015',
                info: '#31CCEC',
                warning: '#f20000'
            }
        }
    </script>

    <script src="./lib/vue.js"></script>
    <script>/*Vue.config.devtools = */Vue.config.productionTip = false;</script>
    <script src="./lib/vuex.js"></script>
    <script src="./lib/vue-router.js"></script>
    <script src="./lib/quasar.umd.js"></script>
    <script src="./lib/axios.min.js"></script>

    <script src="./lib/Chart.min.js"></script>
    <script src="./lib/vue-chartjs.min.js"></script>
    
    <script src="./js/store.js"></script>
    <script src="./js/mixins.js"></script>
    <script src="./js/components.js"></script>
    
    <script src="./js/pages/home.js"></script>
    <script src="./js/pages/charts.js"></script>
    <script src="./js/pages/taps.js"></script>
    <script src="./js/pages/zone.js"></script>
    <script src="./js/pages/zones.js"></script>
    <script src="./js/pages/login.js"></script>
    <script src="./js/pages/option.js"></script>
    
    <script src="./app.js"></script>

    
</body>

</html>